header {
    background-image: url('Pictures/Background.jpg');
    background-size: cover;
    height: 150px;
    color: white;
    text-align: center;
    padding: 10px;
}
.header-logo {
    max-height: 100px;
    margin: 10px;
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
nav ul li {
    margin: 0 15px;
}
.form-section h1 {
    color: red;
}
